[submodule "libraries/actionbarsherlock"]
	path = libraries/actionbarsherlock
	url = git://github.com/JakeWharton/ActionBarSherlock.git
[submodule "libraries/aFileChooser"]
	path = libraries/aFileChooser
	url = git://github.com/AlexJF/aFileChooser.git
